In [4]:
import pandas as pd
ice_cream = ['Chocolate', 'vanila', 'Strawberry']

a = pd.Series(ice_cream, index=['c', 'v', 's'])
print(a)
print(a[0])
a.index

s = pd.Series(['red', 'green', 'blue', 'grey', 'black'])
s.index
s.dtype

c     Chocolate
v        vanila
s    Strawberry
dtype: object
Chocolate

dtype('O')

In [12]:
n = pd.Series([4,5,6,3,4,5,7])
print(n)
print(n.sum())
print(n.product())
print(n.mean())
print(n.median())
print(n.head())
print(n.tail())

0    4
1    5
2    6
3    3
4    4
5    5
6    7
dtype: int64
34
50400
4.857142857142857
5.0
0    4
1    5
2    6
3    3
4    4
dtype: int64
2    6
3    3
4    4
5    5
6    7
dtype: int64

In [17]:
fruits = ['apple', 'pineapple', 'banana', 'orange', 'lemon', 'kiwi', 'strawberry']
weekdays = ['monday', 'tuesday' ,'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

f = pd.Series(data=fruits, index=weekdays)
print(f)

monday            apple
tuesday       pineapple
wednesday        banana
thursday         orange
friday            lemon
saturday           kiwi
sunday       strawberry
dtype: object

# Import `Series` from CSV files

In [21]:
pokemons = pd.read_csv('./data/pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemons

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [24]:
google = pd.read_csv("./data/google_stock_price.csv", squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [29]:
print(pokemons.head(), google.head())

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object 0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [34]:
pokemon_names = pd.read_csv('./data/pokemon.csv', usecols=['Pokemon'], squeeze=True)
print(pokemon_names.head())

pokemon_types = pd.read_csv('./data/pokemon.csv', index_col=['Pokemon'], squeeze=True)
print(pokemon_types.head(5))

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object
Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object