## working text data

## .strip() .lstrip() .rstrip() methods

In [6]:
import pandas as pd
chicago = pd.read_csv('./data/chicago.csv').dropna(how='all')
chicago['Department'] = chicago['Department'].astype('category') 
chicago['Position Title'] = chicago['Position Title'].astype('category') 
chicago.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$84450.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$84450.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$89880.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$106836.00

In [7]:
print("    Hello world   ".strip())
print("    Hello world   ".lstrip())
print("    Hello world   ".rstrip())

Hello world
Hello world
    Hello world

In [10]:
for col in chicago.columns:
    chicago[col] = chicago[col].str.strip()