In [26]:
import pandas as pd

In [40]:
chicago = pd.read_csv("./data/chicago.csv").dropna(how="all")
chicago['Position Title'] = chicago["Position Title"].astype('category')
chicago['Department'] = chicago["Department"].astype('category')
chicago.info()
chicago.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32062 entries, 0 to 32061
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null category
Department                32062 non-null category
Employee Annual Salary    32062 non-null object
dtypes: category(2), object(2)
memory usage: 895.4+ KB

,Name,Position Title,Department,Employee Annual Salary
32057,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,$99528.00
32058,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$87384.00
32059,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$84450.00
32060,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$87384.00
32061,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$113664.00

## Common strings methods - .lower(), .upper(), .title(), .len()

In [37]:
chicago['Name'] = chicago['Name'].str.title()
chicago['Position Title'] = chicago['Position Title'].str.title()

chicago.head()

,Name,Position Title,Department,Employee Annual Salary
0,"Aaron, Elvia J",Water Rate Taker,WATER MGMNT,$90744.00
1,"Aaron, Jeffery M",Police Officer,POLICE,$84450.00
2,"Aaron, Karina",Police Officer,POLICE,$84450.00
3,"Aaron, Kimberlei R",Chief Contract Expediter,GENERAL SERVICES,$89880.00
4,"Abad Jr, Vicente M",Civil Engineer Iv,WATER MGMNT,$106836.00

## .str.replace()

In [47]:
# chicago['Department'] = chicago["Department"].str.replace('MGMNT', "MANAGEMENT")
# chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].str.replace('$', '').astype(float)
chicago.head()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas